a {
  color: #0366d6;
}

h1{
    text-align:center;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
 /* class describing look of the div containing game boards*/
.sides {
    margin: 0;
}
/* class describing look of the div containing player 1 board*/
.left {
    float: left;
    width: 50%;
    height: auto;
}
/* class describing look of the div containing player 2 board*/
.right {
    float: left;
    width: 50%;
    height:auto;
}
/* class describing look of the div containing water piece of the board */
.water {
    display: inline-block;
    width: 8%;
    height: 50px;
    background: lightblue;
    margin-left: 5px;
    font-size: 10px;
    text-align: center;
}
/* class describing look of the div containing ship piece of the board */
.ship {
    display: inline-block;
    width: 8%;
    height: 50px;
    background: grey;
    margin-left: 5px;
    font-size: 10px;
    text-align: center;
}
/* class describing look of the div containing missed shot piece of the board */
.miss {
    display: inline-block;
    width: 8%;
    height: 50px;
    background: red;
    margin-left: 5px;
    font-size: 10px;
    text-align: center;
}
/* class describing look of the div containing registered hit piece of the board */
.hit {
    display: inline-block;
    width: 8%;
    height: 50px;
    background: black;
    margin-left: 5px;
    font-size: 10px;
    text-align: center;
    
}
/* class describing look of the div containing battle log */
.battlelog {
    display: inline-block;
    text-align: center;
    margin-left: 35%;
    height: 400px;
    overflow: scroll;
    width: 400px;
}